// ======================================================================
// GENERAL
// ======================================================================

@mixin hidefont() {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin allowselect() {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
@mixin touchscroll() {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

// ======================================================================
// FONT SIZE
// ======================================================================

@function pxtorem($size) {
  $remSize: $size / 16;
  @return $remSize;
}
@mixin font-size($fontsize: 16, $lineheight: null) {
  font-size: $fontsize + px;
  font-size: pxtorem($fontsize) + rem;
  @if ($lineheight) {
    line-height: ($lineheight/$fontsize) + em;
  }
}
