// ======================================================================
// COMMON
// ======================================================================

#popups {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}
#popups_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#popups .blackout {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  display: none;
  position: relative;
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.btn_close_popup {
  position: absolute;
  top: 0;
  right: 0;
}
